src/tema2_copy_1.c
src/tema2_copy_2.c
src/tema2_copy_3.c
test_manual/output_2.txt
test_manual/output_3.txt
test_manual/output_test_1
test_manual/output_test_1_1.txt
test_manual/output_test_1_2.txt
test_manual/output_test_1_3.txt
test_manual/output_test_1_4.txt
test_manual/output_test_1_5.txt
test_manual/output_test_1_6.txt
test_manual/output_test_1_7.txt
test_manual/output_test_1_8.txt
test_manual/output_test_1_9.txt
test_manual/output_test_1_10.txt
test_manual/output_test_1_11.txt
test_manual/output_test_1_12.txt
test_manual/output_test_1_13.txt
test_manual/output_test_1_14.txt
test_manual/output_test_1_15.txt
test_manual/output_test_1_16.txt
test_manual/output_test_1_17.txt
test_manual/output_test_1_18.txt
test_manual/output_test_1_19.txt
test_manual/output_test_1_20.txt
test_manual/output_test_1_mai_mare
test_manual/output_test_1_mai_mic
test_manual/output_test_2_1.txt
test_manual/output_test_2_2.txt
test_manual/output_test_2_3.txt
test_manual/output_test_2_mai_mic
test_manual/output_test_3
test_manual/output_test_3_1.txt
test_manual/output_test_3_2.txt
test_manual/output_test_3_3.txt
test_manual/output_test_3_4.txt
test_manual/output_test_3_5.txt
test_manual/output_test_4_1.txt
test_manual/output_test_4_2.txt
test_manual/output_test_mic_2.txt
test_manual/output_test_mic.txt
test_manual/output.txt
src/tema2_final_pipe.c
