src/tema2_copy_1.c
src/tema2_copy_2.c
src/tema2_copy_3.c
test_manual/output_2.txt
test_manual/output_3.txt
test_manual/output_test_1
test_manual/output_test_1_1.txt
test_manual/output_test_1_2.txt
test_manual/output_test_1_3.txt
test_manual/output_test_1_4.txt
test_manual/output_test_1_5.txt
test_manual/output_test_1_6.txt
test_manual/output_test_1_7.txt
test_manual/output_test_1_8.txt
test_manual/output_test_1_9.txt
test_manual/output_test_1_10.txt
test_manual/output_test_1_11.txt
test_manual/output_test_1_12.txt
test_manual/output_test_1_13.txt
test_manual/output_test_1_14.txt
test_manual/output_test_1_15.txt
test_manual/output_test_1_16.txt
test_manual/output_test_1_17.txt
test_manual/output_test_1_18.txt
test_manual/output_test_1_19.txt
test_manual/output_test_1_20.txt
test_manual/output_test_1_mai_mare
test_manual/output_test_1_mai_mic
test_manual/output_test_2_1.txt
test_manual/output_test_2_2.txt
test_manual/output_test_2_3.txt
test_manual/output_test_2_mai_mic
test_manual/output_test_3
test_manual/output_test_3_1.txt
test_manual/output_test_3_2.txt
test_manual/output_test_3_3.txt
test_manual/output_test_3_4.txt
test_manual/output_test_3_5.txt
test_manual/output_test_4_1.txt
test_manual/output_test_4_2.txt
test_manual/output_test_mic_2.txt
test_manual/output_test_mic.txt
test_manual/output.txt
src/tema2_final_pipe.c
checker/out_files/checker_{1..10}.out
checker/out_files/output_1.txt
checker/out_files/output_2.txt
checker/out_files/output_3.txt
checker/out_files/output_4.txt
checker/out_files/output_5.txt
checker/out_files/output_6.txt
checker/out_files/output_7.txt
checker/out_files/output_8.txt
checker/out_files/output_9.txt
checker/out_files/output_10.txt
checker/out_files/output_11.txt
checker/out_files/output_12.txt
checker/out_files/output_13.txt
checker/out_files/output_14.txt
checker/out_files/output_15.txt
checker/out_files/output_16.txt
checker/out_files/output_17.txt
checker/out_files/output_18.txt
checker/out_files/output_19.txt
checker/out_files/output_20.txt
checker/out_files/output_21.txt
checker/out_files/output_22.txt
checker/out_files/output_23.txt
checker/out_files/output_24.txt
checker/out_files/output_25.txt
checker/out_files/output_26.txt
checker/out_files/output_27.txt
checker/out_files/output_28.txt
checker/out_files/output_29.txt
checker/out_files/output_30.txt
checker/out_files/output_31.txt
checker/out_files/output_32.txt
checker/out_files/output_33.txt
checker/out_files/output_34.txt
checker/out_files/output_35.txt
checker/out_files/output_36.txt
checker/out_files/output_37.txt
checker/out_files/output_38.txt
checker/out_files/output_39.txt
checker/out_files/output_40.txt
checker/out_files/output_41.txt
checker/out_files/output_42.txt
checker/out_files/output_43.txt
checker/out_files/output_44.txt
checker/out_files/output_45.txt
checker/out_files/output_46.txt
checker/out_files/output_47.txt
checker/out_files/output_48.txt
checker/out_files/output_49.txt
checker/out_files/output_50.txt
checker/out_files/output_51.txt
checker/out_files/output_52.txt
checker/out_files/output_53.txt
checker/out_files/output_54.txt
checker/out_files/output_55.txt
checker/out_files/output_56.txt
checker/out_files/output_57.txt
checker/out_files/output_58.txt
checker/out_files/output_59.txt
checker/out_files/output_60.txt
checker/out_files/output_61.txt
checker/out_files/output_62.txt
checker/out_files/output_63.txt
checker/out_files/output_64.txt
checker/out_files/output_65.txt
checker/out_files/output_66.txt
checker/out_files/output_67.txt
checker/out_files/output_68.txt
checker/out_files/output_69.txt
checker/out_files/output_70.txt
checker/out_files/output_71.txt
checker/out_files/output_72.txt
checker/out_files/output_73.txt
checker/out_files/output_74.txt
checker/out_files/output_75.txt
checker/out_files/output_76.txt
checker/out_files/output_77.txt
checker/out_files/output_78.txt
checker/out_files/output_79.txt
checker/out_files/output_80.txt
checker/out_files/output_81.txt
checker/out_files/output_82.txt
checker/out_files/output_83.txt
checker/out_files/output_84.txt
checker/out_files/output_85.txt
checker/out_files/output_86.txt
checker/out_files/output_87.txt
checker/out_files/output_88.txt
checker/out_files/output_89.txt
checker/out_files/output_90.txt
checker/out_files/output_91.txt
checker/out_files/output_92.txt
checker/out_files/output_93.txt
checker/out_files/output_94.txt
checker/out_files/output_95.txt
checker/out_files/output_96.txt
checker/out_files/output_97.txt
checker/out_files/output_98.txt
checker/out_files/output_99.txt
checker/out_files/output_100.txt
checker/out_files_1ms/output_1.txt
checker/out_files_1ms/output_2.txt
checker/out_files_1ms/output_3.txt
checker/out_files_1ms/output_4.txt
checker/out_files_1ms/output_5.txt
checker/out_files_1ms/output_6.txt
checker/out_files_1ms/output_7.txt
checker/out_files_1ms/output_8.txt
checker/out_files_1ms/output_9.txt
checker/out_files_1ms/output_10.txt
checker/out_files_1ms/output_11.txt
checker/out_files_1ms/output_12.txt
checker/out_files_1ms/output_13.txt
checker/out_files_1ms/output_14.txt
checker/out_files_1ms/output_15.txt
checker/out_files_1ms/output_16.txt
checker/out_files_1ms/output_17.txt
checker/out_files_1ms/output_18.txt
checker/out_files_1ms/output_19.txt
checker/out_files_1ms/output_20.txt
checker/out_files_1ms/output_21.txt
checker/out_files_1ms/output_22.txt
checker/out_files_1ms/output_23.txt
checker/out_files_1ms/output_24.txt
checker/out_files_1ms/output_25.txt
checker/out_files_1ms/output_26.txt
checker/out_files_1ms/output_27.txt
checker/out_files_1ms/output_28.txt
checker/out_files_1ms/output_29.txt
checker/out_files_1ms/output_30.txt
checker/out_files_1ms/output_31.txt
checker/out_files_1ms/output_32.txt
checker/out_files_1ms/output_33.txt
checker/out_files_1ms/output_34.txt
checker/out_files_1ms/output_35.txt
checker/out_files_1ms/output_36.txt
checker/out_files_1ms/output_37.txt
checker/out_files_1ms/output_38.txt
checker/out_files_1ms/output_39.txt
checker/out_files_1ms/output_40.txt
checker/out_files_1ms/output_41.txt
checker/out_files_1ms/output_42.txt
checker/out_files_1ms/output_43.txt
checker/out_files_1ms/output_44.txt
checker/out_files_1ms/output_45.txt
checker/out_files_1ms/output_46.txt
checker/out_files_1ms/output_47.txt
checker/out_files_1ms/output_48.txt
checker/out_files_1ms/output_49.txt
checker/out_files_1ms/output_50.txt
checker/out_files_1ms/output_51.txt
checker/out_files_1ms/output_52.txt
checker/out_files_1ms/output_53.txt
checker/out_files_1ms/output_54.txt
checker/out_files_1ms/output_55.txt
checker/out_files_1ms/output_56.txt
checker/out_files_1ms/output_57.txt
checker/out_files_1ms/output_58.txt
checker/out_files_1ms/output_59.txt
checker/out_files_1ms/output_60.txt
checker/out_files_1ms/output_61.txt
checker/out_files_1ms/output_62.txt
checker/out_files_1ms/output_63.txt
checker/out_files_1ms/output_64.txt
checker/out_files_1ms/output_65.txt
checker/out_files_1ms/output_66.txt
checker/out_files_1ms/output_67.txt
checker/out_files_1ms/output_68.txt
checker/out_files_1ms/output_69.txt
checker/out_files_1ms/output_70.txt
checker/out_files_1ms/output_71.txt
checker/out_files_1ms/output_72.txt
checker/out_files_1ms/output_73.txt
checker/out_files_1ms/output_74.txt
checker/out_files_1ms/output_75.txt
checker/out_files_1ms/output_76.txt
checker/out_files_1ms/output_77.txt
checker/out_files_1ms/output_78.txt
checker/out_files_1ms/output_79.txt
checker/out_files_1ms/output_80.txt
checker/out_files_1ms/output_81.txt
checker/out_files_1ms/output_82.txt
checker/out_files_1ms/output_83.txt
checker/out_files_1ms/output_84.txt
checker/out_files_1ms/output_85.txt
checker/out_files_1ms/output_86.txt
checker/out_files_1ms/output_87.txt
checker/out_files_1ms/output_88.txt
checker/out_files_1ms/output_89.txt
checker/out_files_1ms/output_90.txt
checker/out_files_1ms/output_91.txt
checker/out_files_1ms/output_92.txt
checker/out_files_1ms/output_93.txt
checker/out_files_1ms/output_94.txt
checker/out_files_1ms/output_95.txt
checker/out_files_1ms/output_96.txt
checker/out_files_1ms/output_97.txt
checker/out_files_1ms/output_98.txt
checker/out_files_1ms/output_99.txt
checker/out_files_1ms/output_100.txt
checker/out_files_1ms_tracker/output_1.txt
checker/out_files_1ms_tracker/output_2.txt
checker/out_files_1ms_tracker/output_3.txt
checker/out_files_1ms_tracker/output_4.txt
checker/out_files_1ms_tracker/output_5.txt
checker/out_files_1ms_tracker/output_6.txt
checker/out_files_1ms_tracker/output_7.txt
checker/out_files_1ms_tracker/output_8.txt
checker/out_files_1ms_tracker/output_9.txt
checker/out_files_1ms_tracker/output_10.txt
checker/out_files_1ms_tracker/output_11.txt
checker/out_files_1ms_tracker/output_12.txt
checker/out_files_1ms_tracker/output_13.txt
checker/out_files_1ms_tracker/output_14.txt
checker/out_files_1ms_tracker/output_15.txt
checker/out_files_1ms_tracker/output_16.txt
checker/out_files_1ms_tracker/output_17.txt
checker/out_files_1ms_tracker/output_18.txt
checker/out_files_1ms_tracker/output_19.txt
checker/out_files_1ms_tracker/output_20.txt
checker/out_files_1ms_tracker/output_21.txt
checker/out_files_1ms_tracker/output_22.txt
checker/out_files_1ms_tracker/output_23.txt
checker/out_files_1ms_tracker/output_24.txt
checker/out_files_1ms_tracker/output_25.txt
checker/out_files_1ms_tracker/output_26.txt
checker/out_files_1ms_tracker/output_27.txt
checker/out_files_1ms_tracker/output_28.txt
checker/out_files_1ms_tracker/output_29.txt
checker/out_files_1ms_tracker/output_30.txt
checker/out_files_1ms_tracker/output_31.txt
checker/out_files_1ms_tracker/output_32.txt
checker/out_files_1ms_tracker/output_33.txt
checker/out_files_1ms_tracker/output_34.txt
checker/out_files_1ms_tracker/output_35.txt
checker/out_files_1ms_tracker/output_36.txt
checker/out_files_1ms_tracker/output_37.txt
checker/out_files_1ms_tracker/output_38.txt
checker/out_files_1ms_tracker/output_39.txt
checker/out_files_1ms_tracker/output_40.txt
checker/out_files_1ms_tracker/output_41.txt
checker/out_files_1ms_tracker/output_42.txt
checker/out_files_1ms_tracker/output_43.txt
checker/out_files_1ms_tracker/output_44.txt
checker/out_files_1ms_tracker/output_45.txt
checker/out_files_1ms_tracker/output_46.txt
checker/out_files_1ms_tracker/output_47.txt
checker/out_files_1ms_tracker/output_48.txt
checker/out_files_1ms_tracker/output_49.txt
checker/out_files_1ms_tracker/output_50.txt
checker/out_files_1ms_tracker/output_51.txt
checker/out_files_1ms_tracker/output_52.txt
checker/out_files_1ms_tracker/output_53.txt
checker/out_files_1ms_tracker/output_54.txt
checker/out_files_1ms_tracker/output_55.txt
checker/out_files_1ms_tracker/output_56.txt
checker/out_files_1ms_tracker/output_57.txt
checker/out_files_1ms_tracker/output_58.txt
checker/out_files_1ms_tracker/output_59.txt
checker/out_files_1ms_tracker/output_60.txt
checker/out_files_1ms_tracker/output_61.txt
checker/out_files_1ms_tracker/output_62.txt
checker/out_files_1ms_tracker/output_63.txt
checker/out_files_1ms_tracker/output_64.txt
checker/out_files_1ms_tracker/output_65.txt
checker/out_files_1ms_tracker/output_66.txt
checker/out_files_1ms_tracker/output_67.txt
checker/out_files_1ms_tracker/output_68.txt
checker/out_files_1ms_tracker/output_69.txt
checker/out_files_1ms_tracker/output_70.txt
checker/out_files_1ms_tracker/output_71.txt
checker/out_files_1ms_tracker/output_72.txt
checker/out_files_1ms_tracker/output_73.txt
checker/out_files_1ms_tracker/output_74.txt
checker/out_files_1ms_tracker/output_75.txt
checker/out_files_1ms_tracker/output_76.txt
checker/out_files_1ms_tracker/output_77.txt
checker/out_files_1ms_tracker/output_78.txt
checker/out_files_1ms_tracker/output_79.txt
checker/out_files_1ms_tracker/output_80.txt
checker/out_files_1ms_tracker/output_81.txt
checker/out_files_1ms_tracker/output_82.txt
checker/out_files_1ms_tracker/output_83.txt
checker/out_files_1ms_tracker/output_84.txt
checker/out_files_1ms_tracker/output_85.txt
checker/out_files_1ms_tracker/output_86.txt
checker/out_files_1ms_tracker/output_87.txt
checker/out_files_1ms_tracker/output_88.txt
checker/out_files_1ms_tracker/output_89.txt
checker/out_files_1ms_tracker/output_90.txt
checker/out_files_1ms_tracker/output_91.txt
checker/out_files_1ms_tracker/output_92.txt
checker/out_files_1ms_tracker/output_93.txt
checker/out_files_1ms_tracker/output_94.txt
checker/out_files_1ms_tracker/output_95.txt
checker/out_files_1ms_tracker/output_96.txt
checker/out_files_1ms_tracker/output_97.txt
checker/out_files_1ms_tracker/output_98.txt
checker/out_files_1ms_tracker/output_99.txt
checker/out_files_1ms_tracker/output_100.txt
